{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block sidebar %}
    <ul>
        <li><a href="/">Home</a></li>

        {% if user.is_authenticated %}
            <li><a href="/accounts/logout">Logout</a></li>
        {% else %}
            <li><a href="/accounts/login">Login</a></li>
        {% endif %}{% endblock %}


{ % block content %}
<div id="content">
    
	{ % if status == True %}
		{ % if meter_list %}
			<p> Define the pricing function. </p>
    			<form action="" method="post">
				{{ pricing_func_form }}
				<ul>{{ user|unordered_list }}</ul>
				<input type="hidden" name="action" value="add_pricing_func" />
				<input type="submit" name="submit" value="Submit">
    			</form>
		{ % else %}
			<p> Empty meter list. </p>
		{ % endif %}
	
	{ % else %}
		<p>Could not get the available meters. </p>
	{ % endif %}
</div>
{ % endblock %}


