{% extends "admin/base_site.html" %}
{% block head %}
<script type="text/javascript" src="/site_media/prototype.js"></script>
<script type="text/javascript" src="/site_media/my_ajax_function.js"></script>

{% endblock %}
{% block content %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ui.js"></script>
<p> Define the pricing function. </p>

<form action="" method="post">
{% csrf_token %}
	{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
            			<div class="alert alert-error">
                			<strong>{{ error|escape }}</strong>
            			</div>
        		{% endfor %}
    		{% endfor %}
    		{% for error in form.non_field_errors %}
        		<div class="alert alert-error">
            			<strong>{{ error|escape }}</strong>
        		</div>
    		{% endfor %}
	{% endif %}

	
	<p>List of available meters per resource.</p>
	{% for i in resources %}
 		<ul>	
   		<li><b>{{i}}</b></li>
 				
		
		{% for j in meter_list %}
			{% if forloop.counter == forloop.parentloop.counter %}
				{% for k in j %}
 					<ul>
  			 		<li>{{k}}</li>
 					</ul>
				{% endfor %}
			{% endif %}
		{% endfor %}
		</ul>
	{% endfor %}

    <input type="hidden" id="var_resources" name="var_resources" value="{{ resources }}">
    <input type="hidden" id="var_meters" name="var_meters" value="{{ meter_list }}">
    {{ pricing_func_form.as_p }}
    <div id="results"></div>
    <p>The pricing function will be applied to the user with id:</p>

    <ul>{{ user|unordered_list }}</ul>

    <input type="hidden" name="action" value="add_pricing_func" />
    <input type="submit" name="add_pricing" value="Add pricing function" />
</form>

{% endblock %}

