{% extends "base.html" %}

{% block title %}
	{{ data.title|default:'ICCLab RCB Demo Site' }}
{% endblock %}

{% block my_content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}


<div class="content2">
Please provide all the details requested below, all fields are mandatory.<br><br>
    
    {% if user.is_active and user.is_staff %}
	{% if form.errors %}
    		<p class="error">Sorry, that are not valid creditentials. </p>
  	{% endif %}
	<form method="post" action="" style='background:#F2F2F2;padding:10px;'>
	<table style="background:#F2F2F2;font-family:Verdana;text-align:left;">
    		{% csrf_token %}
		<tr>
    		<td><label for="user">Username:</label></td>
    		<td><input type="user" name="user" value="" id="user"></td>
		</tr>
		<tr>
    		<td><label for="pass">Password:</label></td>
    		<td><input type="password" name="pass" value="" id="pass"></td>
		</tr>
		<tr>
    		<td><label for="domain">Domain:</label></td>
    		<td><input type="domain" name="domain" value="" id="domain"></td>
		</tr>
		<tr>
    		<td><label for="project">Project:</label></td>
    		<td><input type="project" name="project" value="" id="project"></td>
		</tr>

	</table>
		<input type="submit" value="Login" />
    		<input type="hidden" name="next" value="{{ next|escape }}" />
	</form>
     {% endif %}
</div>

{% endblock %}



