<html>
<head>
    <title>Pricing function</title>
</head>
<body>
    <h1>Define the pricing function.</h1>

    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="somepage.php" method="post">
	<p> Choose your favorite drink ? </p>
	<select name="Parameter 1" size="5">
		<option value="cocacola"> Coca Cola </option>
		<option value="pepsi"> Pepsi </option>
		<option value="cockta"> Cockta </option>
		<option selected="selected" value="sevenup">7 up </option>
	</select>
	<select name="Sign 1" >
		<option selected="selected" value="plus"> + </option>
		<option value="pepsi"> - </option>
		<option value="cockta"> * </option>
		<option selected="selected" value="sevenup">7 up </option>
	</select>
	<select name="Parameter 1" size="5">
		<option value="cocacola"> Coca Cola </option>
		<option value="pepsi"> Pepsi </option>
		<option value="cockta"> Cockta </option>
		<option selected="selected" value="sevenup">7 up </option>
	</select>
	<select name="Parameter 1" >
		<option value="cocacola"> Coca Cola </option>
		<option value="pepsi"> Pepsi </option>
		<option value="cockta"> Cockta </option>
		<option selected="selected" value="sevenup">7 up </option>
	</select>
	<input type="submit" value="Submit">
    </form>


    <form action="/pricing/" method="post">
        <p>Subject: <input type="text" name="subject"></p>
        <p>Your e-mail (optional): <input type="text" name="email"></p>
        <p>Message: <textarea name="message" rows="10" cols="50"></textarea></p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
