{% extends "base.html" %}

{% block title %}
	{{ data.title|default:'ICCLab RCB Demo Site' }}
{% endblock %}

{% block my_content %}
	<div class="content1">     
    	<h2>Rating, Charging, Billing solutions for tomorrow!</h2>
    	<br>
    	<p>
    		This is a service demonstrator. You will be able to manage the full spectrum of the billing process from this interface. System has been configured to work with OpenStack Ceilometer project.
    	</p>
    	<p>
    		The main features of our solution are: Complete control on rating methodology, Support for flexible pricing models, Customized billing support, discounts, and all of this keeping cloud platforms in mind. 
    		This demonstrator will allow you to get the list of available meters from Ceilometer, and shows you can custom set your rating parameters, charging models and billing strategies. 
    		<a  href="#">Read More</a>
    	</p>
	</div>

	<div class="content2">
		<div class="reel">
			<a href="/admin/">Admin page</a>
        </div>
        <div class="reel">
		<a href="#">User page</a>
        </div>
        <div class="clear"></div>
	</div>
{% endblock %}
